<!DOCTYPE html>

<html>
    <head>
        {% include header.html %}

        <link rel="stylesheet" href="{{site.url}}/styles/font.css">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{site.url}}/styles/post.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/post_mobile.css">
        <link rel="stylesheet" media="screen and (min-width: 600px)" href="{{site.url}}/styles/navigatebar.css">
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="{{site.url}}/styles/navigatebar_mobile.css">
        <link rel="stylesheet" href="{{site.url}}/theme/highlight.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
        <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    </head>
    <body>
        {% include navigatebar.html %}
        <div class="content-area">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="category-area">
                「{% for category in page.categories %}
                <a href="{{ site.url }}/tags.html#{{ category }}">
                    <div class="category">
                        {{ category }}
                    </div>
                </a>
                {% endfor %}」
            </div>
            <div class="char-counter">
              {{ page.date | date: "%Y-%m-%d" }} {{ page.content | strip_html | strip_newlines | remove: " " | size }}字
            </div>
            <div class="content">
                {{ content }}
            </div>
              <!-- Gitalk 评论 start  -->
              <div id="gitalk-container"></div>
                  <script type="text/javascript">
                  var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
                  var gitalk = new Gitalk({
                  // gitalk的主要参数
                      clientID: `95d22552cc9b9c12048f`,
                      clientSecret: `1610a1712172809df8f7db94dd11b36637c10f35`,
                      repo: `yimacro.github.io`,
                      owner: 'yimacro',
                      admin: ['yimacro@gmail.om'],
                      id: location.pathname,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50
                 
                  });
                  gitalk.render('gitalk-container');
                  </script>
              <!-- Gitalk end -->
        </div>
    </body>
</html>
